<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 profile-view">
                <div class="col-md-12">
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        
                    	<a href="#/" class="btn btn-default profile-back-button"><span class="fa fa-long-arrow-left"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Enter Your Email Id </h1><br>
        <form ng-submit="forgetPassword();">
            <span class="err" ng-bind="error"></span>
            <span class="success_message" ng-bind="success"></span>
            <input type="text" name="user" placeholder="Email ID" ng-model="email">
            <div class="loader_angular" ng-show="Loader"></div>
            <input type="submit" name="login" class="login loginmodal-submit" value="Submit">
        </form>
    </div>
</div>
<style>
.loader_angular {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 27px;
    z-index: 99;
    background: url("img/loader.gif") center no-repeat;
    background-size: 70%;
}
</style>